name: Gurobi Logtools CI

on:
  - push
  - pull_request

jobs:
  test:
    name: test with python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    env:
      UV_PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
      - name: Install the project
        run: uv sync --locked --no-dev
      - name: Run pytest
        run: uv run pytest ./tests
      - name: Test excel output
        run: uv run python -m gurobi_logtools test.xlsx data/*.log
      - name: Test excel output with --timelines option
        run: uv run python -m gurobi_logtools --timelines test.xlsx data/*.log
      - name: Test excel output  with -t option
        run: uv run python -m gurobi_logtools -t test.xlsx data/*.log
      - name: Test write to directory
        run: uv run python -m gurobi_logtools --write-to-dir nicenames summary.xlsx tests/assets/combined/*.log

  pre-commit:
    name: Lint / format (via pre-commit)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
    - uses: pre-commit/action@v3.0.1

  test-notebook:
    name: Test notebook
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
      - name: Install the project
        run: uv sync --locked
      - name: Test notebook
        run: uv run pytest --nbmake --nbmake-kernel=python3 gurobi-logtools.ipynb

  mypy:
    name: Run Mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Mypy
        run: pip install mypy
      - name: mypy
        run: mypy --install-types --non-interactive --check-untyped-defs src/gurobi_logtools
